{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid px-0  mb-3">
    <img src="/static/img/5.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="container mb-3 py-4">
    <h1 class="my-3 text-center">About Us</h1>
    </div>
    <p class="lead">
              The purpose of this project is to allow people to have a digital platform to discharge their emotions, feelings, etc. primarily by means of interaction with other people. We want to raise a community of similar minded individuals with focus on mental and psychological well being. Recent times suggest that with inception of modern lifestyles and work culture people succumb to anxiety, depression, stress, etc. Sometimes these take major toll on people and may degrade their quality of life as such. Therefore in order to provide care to such individuals we have come up with ‘Vent’. Interested Individuals will have to go through tests to become a member. There will be options of reporting issues regarding other individuals. We’ll even have clinical Psychologists on our team to treat people with serious issues. In the long run we wish to partner with NGOs, Interest Groups and even local authorities in order to ensure well being of all.
      </p>
    
{% endblock body %}